# dependencies
/node_modules
.idea

# dotenv environment variables file
.env
*.env

#media files
public/media/*
!public/media/.gitkeep

yarn.lock

# test directories
.nyc_output
/mochawesome-report
/coverage
