# dependencies
/node_modules
.idea

# dotenv environment variables file
.env
*.env

#media files
public/*
!public/.gitkeep
public/media/*
!public/media/.gitkeep


# test directories
.nyc_output
/mochawesome-report
/coverage
